#background{
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/OnePage.jpg);
    position: absolute;
    opacity: 0.5;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 35px 87px;
    box-sizing: border-box;
    margin-top: 2px;
}   

header h1{
    margin: 0;
    margin-left: 21.5px;
    margin-top: -8px;
}

header a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 21px 6px 0px 19.5px;
    font-size: 13px;
}

header img{
    width: 30px;
    height: 31px;
    margin-right: 8px;
    margin-left: 12px;
    margin-top: -4px;
}

header div{
    display: flex;
    align-items: center;
}

.banner{
    padding-top: 100px;
    background-image: url(../imagens/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 30px 100px;
    min-height: 400px;
    align-items: center;
}

.banner div{
    width: 400px;
}

.banner h2{
    font-size: 28px;
}

